
body {
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: calc(2.2vh + 0.6vw);
    line-height: 5vh;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}



.skipcont a{
    left: 0;
    color: black;
    padding: 3vw;
    position: absolute;
    top: -300px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skipcont a:focus{
    top:0;
    text-decoration: underline;
    text-decoration-color: #ff4d4d;
    outline: none;
}


#intro_part{
    position: relative;
    width: 100vw;
    height: 100vh;

}






/* Navbar */
nav{
    padding: 3vw 1vw 0 0;
}

nav ul{
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: flex-end;

}

nav ul li {

    width: 6em;
    text-align: center;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li a:not(.current_page):hover, nav ul li a:not(.current_page):focus{
    font-weight: bold;
    text-decoration: underline ;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    text-decoration-color:blue;
}


/*intro_text*/
.intro_text{
    mix-blend-mode: difference;


    font-family: 'Lato', sans-serif;
    font-size: calc(4vh + 0.5vw);
    line-height: 2em;
    text-align: center; 

    margin-left:7.5vw;
    
    margin-right:5vw;
}


.content {
    mix-blend-mode: difference;

    /*position: relative;*/
    height: calc(16vh + 5vw);
    overflow: hidden;
    margin-left: 6vw;
    margin-top: calc(10vh + 5vw);
    font-family: 'Lato', sans-serif;
    font-size: calc(16vh + 5vw);

}

.content__container {
     font-weight: 400;
     overflow: hidden;
     position: absolute;
     height:calc(20vh + 8vw);
     top: 50%;
     transform: translate(0,-50%);
}

.content__container__text {
    display: inline;
    line-height: calc(15vh + 6vw);;
}

.content__container__list {
    font-weight: 500;
    margin-left: calc(8vh + 3vw);;
    height: calc(80vh + 30vw);
    text-align: left;
    list-style: none;

    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    height:calc(20vh + 8vw);;
    line-height:calc(16vh + 6vw);;
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
}   








footer{
    color: black;
    margin: 2vw auto;
    position: absolute;
    bottom: -12vw;
    width: 100%;
    height: 3rem;
    text-align: center;
}


/*tablet*/
@media screen and (max-width: 1000px)  and (orientation:portrait) {

    /* Navbar */
    nav{
        padding: 5vw 3vw 0 0;
    }

    nav ul{
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        justify-content: flex-end;
        flex-direction: row;
        list-style: none;
    }

    nav ul li {
        text-align: right;
        width: auto;
        margin: 3vw;
    }

    #intro_part{
        width: auto;
        height: auto;
    }

    .intro_text {
        font-size: 5.5vw;
        line-height: 2em;
        margin-left: 7vw;
        margin-top: 3vh;

    }
}
    

/*phone*/
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 5vw;
        margin-right: 5vw;
        -webkit-box-orient: vertical;
    }

    nav ul li {
        text-align: right;
        width: auto;
        margin: 0;
    }

    #intro_part{
        height: 100vh;
    }

    .intro_text {
        font-size: 7.5vw;
        line-height: 2em;
        margin-left: 7vw;
        margin-top: 4vh;
    }
}



/*motion reduction*/
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto; 
    }

    .content__container__list {
        -webkit-animation-name: none;
        animation-name: none;
    }
}